body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#mintButton {
    background-color: #4CAF50;
    color: white;
}

#walletButton {
    background-color: #008CBA;
    color: white;
}

#walletInfo {
    margin: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    display: inline-block;
}

#networkStatus {


    /*width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;*/
    
    background-color: #008CBA;
    color: white;
}

#networkDisplay {
    margin: 10px;
    color: red;
}
