html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: macho, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}
header {
  color: #fff;
  padding-top: 15px;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  color: #000000;
}
main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2px;
    text-align: center;
    top: 0px;
    margin-top: -18px;
}
button {
  padding: 10px 20px;
  margin: 10px;
  border: thin solid #000000;
  border-radius: 58px;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 1em;
  font-family: macho, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#mintButton {
  background-color: #000000;
  color: white;
}
#walletButton {
  background-color: #8788B8;
  color: white;
}
#walletInfo {
  margin: 10px;
  padding: 5px 10px;
  background-color: #ddd;
  display: inline-block;
}
#networkStatus {
    /*width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;*/
    background-color: #F4B400;
    color: white;
}
#networkDisplay {
  margin: 10px;
  color: red;
}
.hidden {
  display: none;
}
h2, strong {
    font-weight: 500;
    line-height: 0px;
}
.wave {
  background: #DEEDD5;
  border-radius: 100% 10% 0 0;
  position: fixed;
  width: 185%;
  height: 1286px;
  animation: wave 30s -3s infinite ease;
  transform: translate3d(0, 0, 0);
  left: 0;
  top: 150px;
  z-index: -1;
  opacity: 0.5;
}
.wave:nth-of-type(2) {
  background: rgba(122, 185, 217, 0.5);
  animation: wave 30s reverse infinite cubic-bezier(.79, .14, .15, .86);
  opacity: 0.8;
  margin-top: 60px;
  overflow: hidden;
  z-index: -2;
  background-image: url("images/bg05.jpg");
  mix-blend-mode: soft-light;
}
/*fläche*/
.wave:nth-of-type(3) {
  background: rgba(255, 239, 0, 0.73);
  animation: wave 30s infinite ease;
  opacity: 0.5;
  margin-top: 20px;
  overflow: hidden;
  mix-blend-mode: soft-light;
}
@-moz-keyframes wave {
  0% {
    transform: translateX(1) rotate(0deg);
  }
  25% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-800px);
  }
  75% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(1) rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translateX(1) rotate(0deg);
  }
  25% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-800px);
  }
  75% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(1) rotate(360deg);
  }
}
@keyframes wave {
  0% {
    transform: translateX(1) rotate(0deg);
  }
  25% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-800px);
  }
  75% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(1) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.gradient2 {
  background: linear-gradient(20deg, #DFE4C6, #9C9EC2);
  background-size: 100% 100%;
  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}
.gradient {
  background: linear-gradient(30deg, #558FFF, #ECAD07, #DFE4C6, #8688B4);
  background-size: 100% 100%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  z-index: 1;
}
